@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,100&display=swap');
@media screen and (min-width:777px){
  .nav-link {
    padding:18px 0;
    min-width:120px;
  }
  .navbar {
    padding: 0
  }
}

/* font-family: 'Poppins', sans-serif; */
/* -----------------homepage------------------ */
.home_h1{
  font-size: 80px;
  font-family: 'Poppins';
}
.features_list{
  font-family: 'Poppins';
  color: #586069;
  letter-spacing: 1px;
  display: flex;
  align-items: center;
}
.icon1{
  color: #28a745;
  margin-right: 8px;
}

.home_p{
  font-size: 20px;
  font-weight: 100;
  /* font-family: 'Poppins'; */
}
.home_c{
  padding: 5%;
  /* height: 70vh; */
  /* height: 200px; */
}
.home_img{
  height: 400px;
  border-radius: 10px;
}


/* leetcode */
.card {
  width: 300px;
  border: 1px solid #e1e4e8;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.circular-progress {
  margin-bottom: 20px;
}

.horizontal-progress {
  margin-bottom: 10px;
}

.progress-bar {
  height: 10px;
  margin-bottom: 5px;
}

.easy {
  background-color: #28a745; /* Green */
}

.medium {
  background-color: #ffc107; /* Yellow */
}

.hard {
  background-color: #dc3545; /* Red */
}

.progress-labels div {
  font-size: 14px;
  color: #586069;
  /* color: white; */
}


/* testing */

.aa{
  color: #007BFF;
}

/* register page */

.reg_c{
  width: 400px;
  /* height: 500px; */
  border-radius: 30px;
}

.nav-item .active{
  background-color: #212529;
}
